html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
    transition: 0.2s;
}

/* CONFIGS */

html::-webkit-scrollbar{
    width: 7px;
    background-color: #c1c1c117;
    border-radius: 4px;
}
html::-webkit-scrollbar-thumb{
    background-color: #6566728e;
    border-radius: 4px;
}
body{
    display: block;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;    
}
.row-center{
    justify-content: center;
}
.column-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.margin-auto{
    margin: auto;
}
.marg{
    margin: 1vh;
}
.marg-left{
    margin-left: 1.5vw;
}
.marg-right{
    margin-right: 1.5vw;
}
.marg-left-sm{
    margin-left: 1vh;
}
.marg-right-sm{
    margin-right: 1vh;
}
.marg-top-sm{
    margin-top: 1vh;
}
:root{
    --bg-color: #1E2140;
    --bg-color-2: #fff;
}
.color-1{
    background-color: var(--bg-color);
}
.color-2{
    background-color: var(--bg-color-2);
}
.text-color-1{
    color: #c7c7c7;
}
.text-color-2{
    color: #626262;
}
.text-color-3 {
    color: #ffffff;
}
.text-color-4{
    color:rgb(56 56 56);
}

/* HEADER */

header{
    height: 7vh;
    width: auto;
}
header a img{
    height: 6vh;
    margin-top: 0.5vh;
}
#darkModeButton{
    position: absolute;
    left: 4%;
}
#darkModeButtonImg{
    height: 3vh;
    width: auto;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgb(184, 169, 255);
    cursor: pointer;
}

/* MAIN */

.container{
    width: 70vw;
    min-width: 400px;
}
section{
    margin-top: 4vh;
    box-shadow: 0px 0px 20px #999;
    border-radius: 20px;
}

/* NAV */


#nav-countries{
    box-shadow: 0px 0px 10px rgb(79, 82, 255);
}
#menuBtn div:nth-child(1){
    cursor: pointer;
}
nav{
    background-color: #ffffffab;
    transition: 30ms;
    height: 55vh;
    width: 400px;
    margin: -7px -7px;
    margin-top: 5.5vh;    
    border-radius: 2%;
    position: absolute;
    z-index: 2;
    overflow: scroll;
    display: none;
}
nav ul, li, a{
    list-style-type: none;
    text-decoration: none;
    margin: 1px 2px 0px 2px;
}
nav :hover{
    background-color: rgba(162, 163, 255, 0.158);
    transition: 0.1s;
}
nav::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background-color: #e7e7e7a6;
    border-radius: 4px;
}
nav::-webkit-scrollbar-thumb{
    background-color: #656672;
    border-radius: 4px;
}
.main-wrapper{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    overflow: hidden;
}
nav img{
    height: 100%;
    width: 100%;
}
#dropdown{
    height: 1.4vh;
}
section .graph-descript{
    padding: 15px;
}
section:nth-child(1){
    box-shadow: none;
}
section:nth-child(1) img{
    height: 100%;
    border-radius: 50%;
}
section:nth-child(5){
    margin-bottom: 5vh;
}


/* FOOTER */

footer{
    height: 20vh;
}

/* CHARTS CONFIG */

.highcharts-background{
    fill: rgba(255, 255, 255, 0);
}
.highcharts-grid-line{
    stroke: rgb(219 218 218);
}
.highcharts-credits{
    display: none;
}

/* Media Query */

@media (max-width: 800px)
{
    
    #container{
        width: auto;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    section{
        flex-direction: column;
    }
}

/* 404 */
#main404{
    height: 100vh;
}
#img404{
    width: 15vw;
}
#cardArea{
    width: 830px;
    margin-top: 5vh;
}
.card404{
    height: auto;
    width: 200px;
    background-color: rgb(0 161 255);
    border-radius: 5px;
    box-shadow: 0px 0px 20px #999;
    cursor: pointer;
}
.cardFlag{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -25px;
    background-color: rgb(118, 193, 255);
    overflow: Hidden;
    
}
.cardFlag img{
    width: 75px;
    height: 50px;
}