html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: baseline;
}
h1{
    font-size: 40px;
}
body{
    display: block;
}
.container{
    background: #E2EDFF;
    height: 100%;
    width: 100%;
}
.container-main{
    width: 1200px;
}
.center{
    margin: auto;
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.template-1{
    grid-template-areas: 
    "nav head head head"
    "nav main main main"
    "foot foot foot foot";    
}
.head{
    grid-area: head;
    background-color: #FFF;
    height: 13vh;
    display: flex;
    align-items: flex-end;
}
header h1{
    color: #c1c1c1;
    padding-left: 80px;
}
.nav{
    grid-area: nav;
    background-color: #5D80B8;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: auto;
    min-width: 250px;
}
.nav ul, li, a{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: #c1c1c1;
}
aside div{
    padding-left: 10px;
    padding-right: 10px;
}
/* aside{
    min-width: 300px;
} */
main{
    background-color: #E2EDFF;
    grid-area: main;
    height: 100%;
    width: 100%;
}
footer{
    grid-area: foot;
    background-color: #5D80B8;
    line-height: center;
    display: block;
}
footer p{
    margin-left: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.head-content{
    min-height: 400px;
    width: auto;
    grid-column: 1/3;
}
.content{
    min-height: 350px;
    width: auto;
    border: 0.001rem solid #fff;
}


#graph-1{
    height: 400px;
    width: 100%;
}
.highcharts-background{
    fill: #E2EDFF;
}